---
- name: Install and start Nginx on target machine
  hosts: all
  become: true

  tasks:
    - name: Install Nginx package
      package:
        name: nginx
        state: present

    - name: Start and enable Nginx service
      service:
        name: nginx
        state: started
        enabled: true
